.bannerBg {
    background: rgb(17, 18, 48);
    background: linear-gradient(313deg, rgba(17, 18, 48, 0.23012955182072825) 0%, rgba(255, 255, 255, 0.08727240896358546) 100%, rgba(10, 101, 180, 0.38699229691876746) 100%, rgba(17, 18, 48, 0.1292892156862745) 100%);
}

.darkBg {
    background: rgb(8, 8, 22);
    background: linear-gradient(313deg, rgba(8, 8, 22, 1) 0%, rgba(58, 60, 117, 0.5886729691876751) 100%, rgba(255, 255, 255, 0.08727240896358546) 100%, rgba(10, 101, 180, 0.38699229691876746) 100%);
}